<h3>ngx-row-group</h3>

<ngx-row-group [focusColor]="focusColor" [passColor]="passColor">
    <div ngxRow *ngFor="let item of list; let i = index" #ngxRow="ngxRow">
        {{i}}
        <div style="display: inline-block; right: 0;position: absolute;">
            <label>
                <span>focusColor:</span>
                <input type="color" [(ngModel)]="ngxRow.focusColor"/>
            </label>
            <label>
                <span>passColor:</span>
                <input type="color" [(ngModel)]="ngxRow.passColor"/>
            </label>
        </div>
    </div>
</ngx-row-group>

<div>
    <button (click)="add()">add</button>
    <label>
        <span>focusColor:</span>
        <input type="color" [(ngModel)]="focusColor"/>
    </label>
    <label>
        <span>passColor:</span>
        <input type="color" [(ngModel)]="passColor"/>
    </label>
</div>

<h3>groupName</h3>
<h5>name1</h5>
<div ngxRow groupName="name1">1</div>
<div ngxRow groupName="name1">2</div>
<div ngxRow groupName="name1">3</div>
<div ngxRow groupName="name1">4</div>
<div ngxRow groupName="name1">5</div>
<h5>name2</h5>
<div ngxRow groupName="name2">1</div>
<div ngxRow groupName="name2">2</div>
<div ngxRow groupName="name2">3</div>
<div ngxRow groupName="name2">4</div>
<div ngxRow groupName="name2">5</div>
